* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}
/* utilities */

img:not(.active){
display: none;
}

.active {
    display: block;
}

/* carousel */

.container {
    max-width: 600px;
    height: 90%;
    margin: 5% auto 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    .viewer {
        max-height: 270px;
        position: relative;
        

        .slides {
            height: 100%
        }
    }

    & img {
        height: 100%;
    }

    #next,
    #prev {
        line-height: 0.4rem;
        font-size: 1.3rem;
        color: rgba(0, 0, 0, 0.508);
        padding: 1px;
        border-radius: 50%;
        background-color: rgba(211, 211, 211, 0.5);
        position: absolute;
        right: 50%;
        transform: translate(0, 0, 0, -50%);
    }

    #next {
        top: 10px;
        
    }

    #prev {
        bottom: 10px;
    }

}